# try 2

In [133]:
train = pd.read_json('./raw_data/train.json', typ = 'frame')
train

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000
...,...,...,...,...,...,...
115066,"[록메탈, 밴드사운드, 록, 락메탈, 메탈, 락, extreme]",120325,METAL E'SM #2,"[429629, 441511, 612106, 516359, 691768, 38714...",3,2020-04-17 04:31:11.000
115067,[일렉],106976,빠른 리스너를 위한 따끈따끈한 최신 인기 EDM 모음!,"[321330, 216057, 534472, 240306, 331098, 23288...",13,2015-12-24 17:23:19.000
115068,"[담시, 가족, 눈물, 그리움, 주인공, 나의_이야기, 사랑, 친구]",11343,#1. 눈물이 앞을 가리는 나의_이야기,"[50512, 249024, 250608, 371171, 229942, 694943...",4,2019-08-16 20:59:22.000
115069,"[잔잔한, 버스, 퇴근버스, Pop, 풍경, 퇴근길]",131982,퇴근 버스에서 편히 들으면서 하루를 마무리하기에 좋은 POP,"[533534, 608114, 343608, 417140, 609009, 30217...",4,2019-10-25 23:40:42.000
115070,"[노래추천, 팝송추천, 팝송, 팝송모음]",100389,FAVORITE POPSONG!!!,"[26008, 456354, 324105, 89871, 135272, 143548,...",17,2020-04-18 20:35:06.000

In [115]:
tagandsong = train.loc[:,['tags','songs']]

In [119]:
# song에 tag 붙이기(1) song - tag 1:1

from tqdm.notebook import tqdm
tag_songs = []
for i in tqdm(range(0, len(tagandsong))):
    for j in range(0, len(tagandsong['tags'][i])):
        for k in range(0,len(tagandsong['songs'][i])):
            tag_song = [tagandsong['songs'][i][k], [tagandsong['tags'][i][j]]]
            tag_songs.append(tag_song)

HBox(children=(IntProgress(value=0, max=115071), HTML(value='')))

SystemError: <built-in function is_scalar> returned a result with an error set

In [ ]:
# song에 tag 붙이기(2) song - tag = 1:n
df = pd.DataFrame(tag_songs, columns= ['songs', 'tags'])
song_tags = pd.DataFrame(df['tags'].groupby(df['songs']).sum())
song_tags.reset_index(inplace = True)

In [ ]:
# tags count 붙이기
song_tags['tags_num'] = np.nan
for i in range(0,len(song_tags)):
    song_tags['tags_num'][i] = sorted(Counter(song_tags['tags'][i]).items(), key = lambda x:x[1],reverse=True)
    song_tags['tags_num'][i] = dict(song_tags['tags_num'][i])

In [ ]:
# 저장
song_tags.to_json('datas/song_tags.json')

In [ ]:
# 불러오기
song_tags = pd.read_json('datas/song_tags.json')
song_tags

## 2. tag에서 songs 만들기

In [ ]:
tagandsong = train.loc[:,['tags','songs']]
tagandsong

In [ ]:
# song에 tag 붙이기(1) song - tag 1:1

from tqdm.notebook import tqdm
song_tags = []
# tagandsong_idx = i
for i in tqdm(range(0, len(tagandsong))):
    #song_idx = j
    for j in range(0, len(tagandsong['songs'][i])):
        #tag_idx = k
        for k in range(0,len(tagandsong['tags'][i])):
            song_tag = [tagandsong['tags'][i][k], [tagandsong['songs'][i][j]]]
            song_tags.append(song_tag)

In [ ]:
df = pd.DataFrame(song_tags, columns= ['tags', 'songs'])
df

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(1/4)
from collections import Counter
from tqdm import notebook

empty_df = []
for i in notebook.tqdm(range(0,22900000,100000)):
    sample = df[i:i+100000]
    tag_songs = pd.DataFrame(sample['songs'].groupby(sample['tags']).sum())
    tag_songs.reset_index(inplace = True)
    empty_df.append(tag_songs)

In [ ]:
df2 = pd.concat(empty_df)
df2

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(2/4)
empty_df2 = []
for i in notebook.tqdm(range(0,175726,10000)):
    sample2 = df2[i:i+10000]
    tag_songs = pd.DataFrame(sample2['songs'].groupby(sample2['tags']).sum())
    tag_songs.reset_index(inplace = True)
    empty_df2.append(tag_songs)
df3 = pd.concat(empty_df2)
df3

In [ ]:
df3.reset_index(drop = True, inplace = True)
df3

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(3/4)
empty_df3 = []
for i in notebook.tqdm(range(0,82825,40000)):
    sample3 = df3[i:i+40000]
    tag_songs = pd.DataFrame(sample3['songs'].groupby(sample3['tags']).sum())
    tag_songs.reset_index(inplace = True)
    empty_df3.append(tag_songs)
df4 = pd.concat(empty_df3)
df4

In [ ]:
# df의 데이터가 너무많아서 4번으로 나눠서 함(4/4)
tag_songs = pd.DataFrame(df4['songs'].groupby(df4['tags']).sum())
tag_songs.reset_index(inplace = True)
tag_songs

## val_copy에서 songs -> tag 만들기

In [1]:
# song_tags 불러오기
song_tags = pd.read_json('datas/song_tags.json')
song_tags

,songs,tags,tags_num
0,0,"[비오는날, 드라이브, 비오는날, 추억, 회상]","{'비오는날': 2, '드라이브': 1, '추억': 1, '회상': 1}"
1,3,"[1, 감성, 듣기좋은, 드라이브, Pop, 여행, 기분전환, 팝, 신나는, 클럽,...","{'기분전환': 3, '신나는': 3, '드라이브': 2, '클럽': 2, '페스티..."
2,4,"[뉴에이지, 뉴에이지]",{'뉴에이지': 2}
3,5,"[비오는날, 재즈, 락, 발라드, 휴식, 리메이크, 재즈, 힐링송, 힐링, 기분전환...","{'재즈': 2, '비오는날': 1, '락': 1, '발라드': 1, '휴식': 1..."
4,6,"[클래식, 산책, 조깅]","{'클래식': 1, '산책': 1, '조깅': 1}"
...,...,...,...
615137,707984,[월드뮤직],{'월드뮤직': 1}
615138,707985,"[Pop, 해외차트, 시대별차트, 신디로퍼, Pop, 1980, 라이벌, 록]","{'Pop': 2, '해외차트': 1, '시대별차트': 1, '신디로퍼': 1, '..."
615139,707986,"[힙합, 랩, 발라드, 감성, 리메이크곡, 카페, 잔잔한, 추억, 위로, 힐링, 사...","{'발라드': 5, '잔잔한': 4, '이별': 4, '감성': 3, '추억': 3..."
615140,707987,"[집중, 노동요, 새벽, 오후, 자장가, 공부]","{'집중': 1, '노동요': 1, '새벽': 1, '오후': 1, '자장가': 1..."
615141,707988,"[데뷔24년, 김경호, 샤우팅의_지존]","{'데뷔24년': 1, '김경호': 1, '샤우팅의_지존': 1}"

In [2]:
val = pd.read_json('datas/val.json', typ = 'frame')
val

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[],118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
2,[],51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,[],45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,[],79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000
...,...,...,...,...,...,...
23010,[잔잔한],101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
23011,"[어머니, 힘들때, 아빠, 가족, 위로받고싶을때]",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000
23012,[],77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
23013,[],36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
23014,[],65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

In [ ]:
from collections import Counter
from tqdm import notebook
val_copy = val.copy()
# df_indx = i
for i in notebook.tqdm(range(0,len(val_copy))):
    tags = {}
    if len(val_copy['songs'][i]) != 0:
        # song_idx = j
        for j in range(0,len(val_copy['songs'][i])):
            if len(song_tags[song_tags['songs'] == val_copy['songs'][i][j]]) != 0:
                tag = song_tags[song_tags['songs'] == val_copy['songs'][i][j]]['tags_num'].values[0]
                tags = Counter(tags) + Counter(tag)
            val_copy['tags'][i] = list(dict(sorted(tags.items(), key = lambda x:x[1],reverse=True)[:10]).keys())
    else :
        print(f'{i}번째 노래없음')

# 파일 로드

In [1]:
raw_tag_song = pd.read_json('./raw_data/tag_songs.json')

In [2]:
val_w_full_tags = pd.read_json('./raw_data/val_copy.json')

In [3]:
raw_tag_song

,tags,songs,songs_num
0,,"[253222, 270262, 301533, 136007, 238347, 13384...","{'253222': 1, '270262': 1, '301533': 1, '13600..."
1,00,"[496456, 323561, 452688, 503200, 102389, 58602...","{'496456': 1, '323561': 1, '452688': 1, '50320..."
2,007,"[571824, 181423, 333856, 291812, 402460, 10929...","{'291812': 3, '359929': 3, '210978': 2, '33130..."
3,007시리즈,"[427367, 181423, 492240, 333856, 291812, 67710...","{'427367': 2, '181423': 2, '492240': 2, '33385..."
4,00s,"[367143, 35117, 387871, 651040, 551409, 544099...","{'580074': 3, '117595': 2, '176961': 2, '58477..."
...,...,...,...
29155,힙해,"[554524, 653392, 669251, 217370, 627771, 75076...","{'363570': 3, '653392': 2, '18117': 2, '271156..."
29156,힙힙힙,"[146247, 152953, 170279, 703985, 591826, 46060...","{'44113': 2, '146247': 1, '152953': 1, '170279..."
29157,힛뎀포크,"[251011, 14923, 605624, 4819, 442751, 538647, ...","{'251011': 1, '14923': 1, '605624': 1, '4819':..."
29158,힛뎀폭,"[251011, 14923, 605624, 4819, 442751, 538647, ...","{'251011': 1, '14923': 1, '605624': 1, '4819':..."
29159,힛뎀폭스,"[251011, 14923, 605624, 4819, 442751, 538647, ...","{'404976': 2, '432284': 2, '520506': 2, '69596..."

In [9]:
import itertools
a = dict(itertools.islice(raw_tag_song[raw_tag_song['tags'] == "OST"]['songs_num'].tolist()[0].items(), 50))
b = dict(itertools.islice(raw_tag_song[raw_tag_song['tags'] == "OST"]['songs_num'].tolist()[0].items(), 50))

In [6]:
c =[a,b]

In [7]:
from collections import Counter
counter = Counter()
for d in c: 
    counter.update(d)

In [31]:
[int(songs[0]) for songs in sorted(counter.items(), key=lambda t : t[1], reverse=True)[:100]]

[654757,
 88503,
 645489,
 224921,
 492678,
 281838,
 269370,
 482903,
 295250,
 37748,
 246984,
 152475,
 123465,
 707724,
 140130,
 316600,
 88471,
 140833,
 118219,
 260220,
 6546,
 689725,
 701557,
 48948,
 211158,
 11657,
 556394,
 208186,
 264701,
 200877,
 35703,
 58773,
 321933,
 393654,
 592526,
 589983,
 424531,
 507358,
 376126,
 438929,
 375450,
 70641,
 456581,
 207558,
 106756,
 608260,
 544584,
 400781,
 366565,
 380832]

In [35]:
len(val_w_full_tags)

23015

In [94]:
tags_under_10 = val_w_full_tags[val_w_full_tags['tags'].apply(lambda x : len(x)) < 10]

In [113]:
tags_under_10

,tags,id,plylst_title,songs,like_cnt,updt_date
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
8,[스트레스],80810,리듬타면서 빡시게 운동하자!!!(스트레스 날리자):},[],127,2017-02-09 17:33:45.000
9,[],142007,기분 좋은 재즈와 함께 만드는 달달한 하루,[],0,2015-06-22 09:11:02.000
17,[생각나],2380,다시 생각나는 그 사람,[],6,2016-03-19 23:53:20.000
20,"[피아노, 이루마, 메로디]",149069,불면증엔 아름다운 뉴에이지 곡들,[],11,2019-12-15 19:15:21.000
...,...,...,...,...,...,...
22991,[],32537,컨트리 황제 조니 캐시가 선 레코드 시절 발표한 초기 대표작,[],28,2019-06-17 14:22:48.000
22992,[사랑],32812,♥옷차림이 가벼워질때 부담없이 듣는음악♥,[],8,2015-05-08 00:09:01.000
22996,[],86721,해 저무는 밤,[],5,2016-04-27 15:32:55.000
23002,"[텐션, 명곡, 학창시절, 텐션업]",56570,숨어듣는명곡! 텐션올릴때듣는 그시절그노래!! (그냥명곡있을수있음주의),[],538,2020-04-18 22:02:07.000
23008,"[sweetmind, 발라드, 사랑, 기분전환, 역주행]",100684,[별책부록] Sweetmind의 음악마중,[],79,2020-02-07 14:42:25.000

# song_count

In [111]:
def song_count(tags):
    import itertools
    from collections import Counter
    counter = Counter()
    ls = []
    for tag in tags:
        try:
            dict_songs = dict(itertools.islice(raw_tag_song[raw_tag_song['tags'] == tag]['songs_num'].values[0].items(), 100))
            ls.append(dict_songs)
        except:
            ls.append({})
    for d in ls: 
        counter.update(d)

#     ls.sort(key = lambda element : element[1], reverse=True)
    
    return [int(songs[0]) for songs in sorted(counter.items(), key=lambda t : t[1], reverse=True)[:100]]

In [41]:
val_10_tags_df = val_w_full_tags[val_w_full_tags['tags'].apply(lambda x : len(x)) >= 10] 
val_10_tags_df

,tags,id,plylst_title,songs,like_cnt,updt_date
0,"[OST, 기분전환, 디즈니, 애니메이션, 영화, 팝, 겨울, 추억, 휴식, 힐링]",118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
2,"[발라드, 추억, 회상, 이별, 슬픔, 설렘, 사랑, 싸이월드, 밤, 새벽]",51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,"[발라드, 감성, 이별, 기분전환, 사랑, 카페, 드라이브, 잔잔한, 새벽, 휴식]",45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,"[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 위로, 은혜로운, 찬송가, 교회]",79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000
5,"[Pop, 기분전환, 드라이브, 빌보드, 빌보드Hot50, 트렌디, 스트레스, 빌보...",138538,,"[173033, 138237, 63140, 15733, 461780, 308519,...",2,2019-06-12 17:43:35.000
...,...,...,...,...,...,...
23010,"[발라드, 기분전환, 감성, 사랑, 이별, 새벽, 휴식, 잔잔한, 밤, 추억]",101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
23011,"[힐링, 휴식, 기분전환, 감성, 잔잔한, 발라드, 새벽, 사랑, 밤, 추억]",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000
23012,"[기분전환, 팝, 드라이브, 휴식, 힐링, 감성, Pop, 잔잔한, 팝송, 새벽]",77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
23013,"[클래식, 휴식, 힐링, 잔잔한, 팝, 추억, 기분전환, 올드팝, 감성, 피아노]",36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
23014,"[봄, 사랑, 감성, 기분전환, 드라이브, 설렘, 발라드, 카페, 휴식, 힐링]",65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

In [47]:
val_w_tags = val_w_full_tags.copy()

In [52]:
val_w_tags

,tags,id,plylst_title,songs,like_cnt,updt_date
0,"[OST, 기분전환, 디즈니, 애니메이션, 영화, 팝, 겨울, 추억, 휴식, 힐링]",118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
2,"[발라드, 추억, 회상, 이별, 슬픔, 설렘, 사랑, 싸이월드, 밤, 새벽]",51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,"[발라드, 감성, 이별, 기분전환, 사랑, 카페, 드라이브, 잔잔한, 새벽, 휴식]",45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,"[CCM, 찬양, 은혜, 사랑, 예배, 국내ccm, 위로, 은혜로운, 찬송가, 교회]",79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000
...,...,...,...,...,...,...
23010,"[발라드, 기분전환, 감성, 사랑, 이별, 새벽, 휴식, 잔잔한, 밤, 추억]",101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
23011,"[힐링, 휴식, 기분전환, 감성, 잔잔한, 발라드, 새벽, 사랑, 밤, 추억]",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000
23012,"[기분전환, 팝, 드라이브, 휴식, 힐링, 감성, Pop, 잔잔한, 팝송, 새벽]",77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
23013,"[클래식, 휴식, 힐링, 잔잔한, 팝, 추억, 기분전환, 올드팝, 감성, 피아노]",36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
23014,"[봄, 사랑, 감성, 기분전환, 드라이브, 설렘, 발라드, 카페, 휴식, 힐링]",65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

In [106]:
val_w_tags = val_w_full_tags.copy()

In [114]:
# 8분 걸림
val_w_tags['count_top_songs'] = val_w_tags['tags'].apply(lambda x : song_count(x))

In [129]:
val_tag_under10 = val_w_tags[(val_w_tags['count_top_songs'].apply(len) < 100) & (val_w_tags['tags'].apply(len) < 10)]
val_tag_under10

,tags,id,plylst_title,songs,like_cnt,updt_date,count_top_songs
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000,[]
9,[],142007,기분 좋은 재즈와 함께 만드는 달달한 하루,[],0,2015-06-22 09:11:02.000,[]
17,[생각나],2380,다시 생각나는 그 사람,[],6,2016-03-19 23:53:20.000,"[556785, 651499, 1236, 600583, 253755, 537713,..."
35,[],65114,"■■■■ 사랑,그리고이별 ■■■■",[],6,2010-10-27 10:34:34.000,[]
57,[],87700,마쉬멜로우같은 멜로우한 음악,[],6,2016-01-14 10:19:30.000,[]
...,...,...,...,...,...,...,...
22906,[힘찬노래],61000,"세계를 정복한 가수, 방탄소년단",[],35,2018-06-09 18:49:29.000,[]
22920,[],124704,가사의 의미와 뜻은모른다!! 오직 멜로디로만 선곡한 팝송!!,[],27,2016-02-05 12:31:59.000,[]
22981,[],13045,＊카페 느낌 샹송♭,[],38,2011-07-12 00:58:39.000,[]
22991,[],32537,컨트리 황제 조니 캐시가 선 레코드 시절 발표한 초기 대표작,[],28,2019-06-17 14:22:48.000,[]
22996,[],86721,해 저무는 밤,[],5,2016-04-27 15:32:55.000,[]

In [15]:
# plylst_title이 없는것
val_w_full_tags_not_in[val_w_full_tags_not_in['plylst_title'].apply(lambda x : len(x)) == 0]

,tags,id,plylst_title,songs,like_cnt,updt_date
4514,[알앤비],120699,,[],3,2016-02-04 16:39:50.000
6113,[],108253,,[],28,2012-07-27 17:22:57.000
12607,[],2996,,[],229,2018-10-08 13:16:50.000
17558,[],125531,,[],2,2014-06-09 14:48:35.000
19221,"[봄, 연주곡, Morning, Instrumental, 아침]",15941,,[],13,2019-05-24 09:52:50.000
22830,[],22014,,[],3,2015-05-25 17:10:52.000

## 형태소 분석

In [134]:
# 1분
from sklearn.feature_extraction.text import CountVectorizer
from konlpy.tag import Okt

t = Okt()
vectorizer = CountVectorizer(min_df = 1)

contents_tokens = [t.nouns(each) for each in train['tags'].apply(lambda x : " ".join(x))]

In [145]:
contents_for_vectorize = []

for content in contents_tokens:
    sentence = ''
    for word in content:
        sentence = sentence + " " + word
    
    contents_for_vectorize.append(sentence)
    
len(contents_for_vectorize)

115071

In [147]:
len(contents_for_vectorize)

115071

In [148]:
# 벡터라이즈
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vectorizer = TfidfVectorizer(min_df = 1, decode_error = 'ignore')
X = vectorizer.fit_transform(contents_for_vectorize)
X

<115071x10395 sparse matrix of type '<class 'numpy.float64'>'
	with 395059 stored elements in Compressed Sparse Row format>

In [2]:
%load_ext memory_profiler

In [3]:
%memit

peak memory: 152.07 MiB, increment: 0.07 MiB

In [ ]:
# 메모리 터짐
from sklearn.metrics import pairwise_distances
pairwise_matrix = pairwise_distances(X, X, n_jobs=-1)

# 유사도 측정할 테스트 문장

In [139]:
val_tag_under10[val_tag_under10['plylst_title'].apply(len)==0]

,tags,id,plylst_title,songs,like_cnt,updt_date,count_top_songs
60,[],47555,,"[136761, 507344]",0,2015-11-18 14:12:07.000,[]
233,[],130185,,"[537913, 577336, 10370, 299500, 619981, 671353...",1,2019-08-25 14:49:24.000,[]
737,[],52149,,"[638496, 620895, 643877, 170671, 78488, 307555...",1,2020-02-03 16:45:42.000,[]
799,[],114714,,"[350110, 191714, 515717, 593742, 407145, 24027...",17,2019-12-19 14:47:44.000,[]
821,[],104922,,"[316484, 53931, 539725, 204829]",14,2016-07-22 00:42:23.000,[]
...,...,...,...,...,...,...,...
21460,[],63799,,"[389876, 255641, 432475, 90103, 239292, 18542,...",2,2014-09-28 13:46:15.000,[]
21538,[],108712,,"[596632, 374760, 582554, 503780, 473771]",1,2020-04-03 17:03:31.000,[]
21805,[],86094,,"[430360, 180264, 371559, 361053, 229181, 98991...",14,2018-03-12 14:38:38.000,[]
22356,[],144555,,"[362641, 614449, 177918, 310240, 495650]",1,2015-11-09 14:13:20.000,[]
22830,[],22014,,[],3,2015-05-25 17:10:52.000,[]

In [157]:
new_post = [val_tag_under10['plylst_title'].iloc[4]]
new_post_tokens = [t.morphs(row) for row in new_post]

new_post_for_vectorize = []

for content in new_post_tokens:
    sentence = ''
    for word in content:
        sentence = sentence + ' ' + word
    
    new_post_for_vectorize.append(sentence)
    
new_post_for_vectorize

[' 마쉬멜로우 같은 멜로 우한 음악']

In [31]:
new_post_vec = vectorizer.transform(new_post_for_vectorize)

In [36]:
def dist_norm(v1, v2):
    v1_normalized = v1 / sp.linalg.norm(v1.toarray())
    v2_normalized = v2 / sp.linalg.norm(v2.toarray())
    
    delta = v1_normalized - v2_normalized
    
    return sp.linalg.norm(delta.toarray())

In [188]:
import scipy as sp

def dist_raw(v1, v2):
    delta = v1 - v2
    return sp.linalg.norm(delta.toarray())

## 거리 구하고

In [223]:
dist = [dist_norm(each, new_post_vec) for each in X]

In [224]:
ls = []
for i in sorted(dist):
    ls.append(dist.index(i))

In [225]:
j = []
for i in raw_tr.iloc[ls].drop_duplicates('id')['tags']:
    j.append(i)
k = sum(j, [])[:11]
k

['다시',
 '고마웠어',
 '그사람',
 '볼수없는',
 '언제나좋은',
 '기분전환',
 'Pop',
 '다시듣게되는',
 '겨울to봄',
 '봄',
 '다시_봄']